


<div class="movies-list">
  <h2>List Movies</h2>


  <!-- Tabela -->
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th style="cursor: pointer;">
              year
              <input title="year" type="number" id="year"
                [(ngModel)]="filterYear" class="form-control form-control-sm" placeholder="filter by year and press enter"
                (keyup.enter)="filterMovies()"
                />
            </th>
          <th  style="cursor: pointer;">
            Winner?
            <select (change)="filterMovies()" title="winner" id="winner"
              [(ngModel)]="filterWinner" class="form-control" >
              <option value="true">Yes</option>
              <option value="false">No</option>
              <option value="">All</option>
            </select>

          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies">
          <td>{{ movie.id }}</td>
          <td>{{ movie.title }}</td>
          <td>{{ movie.year }}</td>
          <td>{{ movie.winner ? 'Sim' : 'Não' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Paginação -->
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage <= 1" class="btn btn-secondary">Anterior</button>
    <button (click)="nextPage()" [disabled]="currentPage >= totalPages" class="btn btn-secondary">Próximo</button>
  </div>
</div>
